[submodule "HackerNews/Hacker-News-for-iOS"]
	path = HackerNews/Hacker-News-for-iOS
	url = https://github.com/mmackh/Hacker-News-for-iOS.git
[submodule "HackerNews/Hackers"]
	path = HackerNews/Hackers
	url = https://github.com/weiran/Hackers.git
[submodule "GitHub/octokit.objc"]
	path = GitHub/octokit.objc
	url = https://github.com/octokit/octokit.objc.git
[submodule "GitHub/UAGithubEngine"]
	path = GitHub/UAGithubEngine
	url = https://github.com/owainhunt/UAGithubEngine.git
[submodule "GitHub/GitHubObjC"]
	path = GitHub/GitHubObjC
	url = https://github.com/ernstsson/GitHubObjC.git
[submodule "GitHub/RKGithub"]
	path = GitHub/RKGithub
	url = https://github.com/blakewatters/RKGithub.git
[submodule "Evernote/EvernoteAPI"]
	path = Evernote/EvernoteAPI
	url = https://github.com/sonsongithub/EvernoteAPI.git
[submodule "Evernote/evernote-sdk-ios"]
	path = Evernote/evernote-sdk-ios
	url = https://github.com/evernote/evernote-sdk-ios.git
[submodule "Instagram/WFInstagramAPI"]
	path = Instagram/WFInstagramAPI
	url = https://github.com/wfleming/WFInstagramAPI.git
[submodule "Instagram/NRGramKit"]
	path = Instagram/NRGramKit
	url = https://github.com/NextRoot/NRGramKit.git
[submodule "Instagram/Instagram"]
	path = Instagram/Instagram
	url = https://github.com/stuartkhall/Instagram.git
[submodule "Instagram/instagram-ios-sdk"]
	path = Instagram/instagram-ios-sdk
	url = https://github.com/crino/instagram-ios-sdk.git
[submodule "Instagram/grabKit"]
	path = Instagram/grabKit
	url = https://github.com/pierrotsmnrd/grabKit
[submodule "Instagram/AmazonS3"]
	path = Instagram/AmazonS3
	url = https://github.com/AFNetworking/AFAmazonS3Client.git
[submodule "Tumblr/ObjectiveTumblr"]
	path = Tumblr/ObjectiveTumblr
	url = https://github.com/IgnitionSoft/ObjectiveTumblr.git
[submodule "iTunes/KKITunesSearch"]
	path = iTunes/KKITunesSearch
	url = https://github.com/lakim/KKITunesSearch.git
[submodule "Weather/WeatherKit"]
	path = Weather/WeatherKit
	url = https://github.com/rnystrom/WeatherKit
[submodule "Weather/Weather"]
	path = Weather/Weather
	url = https://github.com/escherba/Weather
[submodule "Weather/Yahoo-Weather"]
	path = Weather/Yahoo-Weather
	url = https://github.com/shaydesdsgn/Yahoo-Weather
[submodule "Weather/CoreWeather"]
	path = Weather/CoreWeather
	url = https://github.com/MegaBits/CoreWeather
[submodule "Weather/World-Weather-Online"]
	path = Weather/World-Weather-Online
	url = https://github.com/shaydesdsgn/World-Weather-Online
[submodule "Weather/OpenWeatherMapAPI"]
	path = Weather/OpenWeatherMapAPI
	url = https://github.com/adba/OpenWeatherMapAPI
[submodule "Flickr/objectiveflickr"]
	path = Flickr/objectiveflickr
	url = https://github.com/lukhnos/objectiveflickr
[submodule "iTunes/AJS-iTunes-API"]
	path = iTunes/AJS-iTunes-API
	url = https://github.com/andysmart/AJS-iTunes-API
[submodule "PayPal/PayPal-iOS-SDK"]
	path = PayPal/PayPal-iOS-SDK
	url = https://github.com/paypal/PayPal-iOS-SDK
[submodule "YouTube/HCYoutubeParser"]
	path = YouTube/HCYoutubeParser
	url = https://github.com/hellozimi/HCYoutubeParser
[submodule "YouTube/YoutubeAPI"]
	path = YouTube/YoutubeAPI
	url = https://github.com/ilyapuchka/YoutubeAPI
[submodule "Tumblr/TumblrKit"]
	path = Tumblr/TumblrKit
	url = https://github.com/isutton/TumblrKit
[submodule "DropBox/ParcelKit"]
	path = DropBox/ParcelKit
	url = https://github.com/overcommitted/ParcelKit
[submodule "Twitter/SocialAPIHelpers"]
	path = Twitter/SocialAPIHelpers
	url = https://github.com/shu223/SocialAPIHelpers
[submodule "Klout/klout-ios-sdk"]
	path = Klout/klout-ios-sdk
	url = https://shu223@github.com/tokyootakumode/node-gumroad.git
[submodule "Klout/KloutConnectorV2"]
	path = Klout/KloutConnectorV2
	url = https://github.com/xzoky/KloutConnectorV2
[submodule "CrunchBase/CrunchBaseClient"]
	path = CrunchBase/CrunchBaseClient
	url = https://github.com/shu223/CrunchBase-API-Client-for-iOS
